ul.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.errorlist > li {
    display: inline-block;
    background-color: #5bc0de;
    color: #2b3e50;
    font-weight: 900;
    border-radius: .25em;
    margin: 12px 0 3px 0;
    padding: .2em .6em .3em .6em;
    font-size: 15px;
    white-space: nowrap;
    vertical-align: baseline;
}
