<%inherit file="/homepage/templates/base.htm" />

<%block name="header_items">
  <ul class="nav navbar-nav">
    <li class="${ 'active' if request.dmp_router_page == 'index' else '' }"><a href="/">Home</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'about' else '' }"><a href="/homepage/about/">About</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'contact' else '' }"><a href="/homepage/contact/">Contact</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'terms' else '' }"><a href="/homepage/terms/">Terms</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'faq' else '' }"><a href="/homepage/faq/">FAQ</a></li>
    <li class="${ 'active' if request.dmp_router_app == 'catalog' else '' }"><a href="/catalog/">Catalog</a></li>
  </ul>
</%block>
