<%inherit file="app_base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/account/users/">Users</a></li>
    <li class="breadcrumb-item active">Change Password</li>
  </ol>
</%block>

<%block name="content">
    <h1>Change Password</h1>
    <h2>${ account.first_name } ${ account.last_name }</h2>
    ${ form }

</%block>
