<%inherit file="app_base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/account/users">Users</a></li>
    <li class="breadcrumb-item active">Edit User</li>
  </ol>
</%block>

<%block name="content">
    <h1>Create User</h1>
    ${ form }

</%block>
