<%inherit file="app_base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">My Account</a></li>
  </ol>
</%block>

<%block name="content">
    <h1>${ account.first_name } ${ account.last_name }</h1>
    <div style="text-align: right; padding-right: 10px;"><a href="/account/changePassword/${ account.username }" class="btn btn-primary">Change Password</a></div>
    ${ form }
</%block>
