<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">Confirm Address</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item"><a href="/account/shoppingCart">My Cart</a></li>
    <li class="breadcrumb-item"><a href="/account/shipping">My Shipping Information</a></li>
    <li class="breadcrumb-item active">Confirm Address</a></li>
  </ol>
</%block>

<%block name="content">
<div class="container col-md-6">
  ${ form }
</div>
<div class="col-md-6">
  <div id="confirm_address">
    <a href="/catalog/checkout" class="btn btn-lg btn-secondary">Yes, let's move on!</a>
    <a href="/account/shipping" class="btn btn-lg-primary">No, let me correct it</a>
  </div>
</div>
</%block>
