<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">My Shipping Information</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item"><a href="/account/shoppingCart">My Cart</a></li>
    <li class="breadcrumb-item active">My Shipping Information</a></li>
  </ol>
</%block>

<%block name="content">
<div class="container col-md-12" id="shipping-form">
  ${ form }
</div>
<!-- <div class="col-md-6">
  <div id="confirm_address">
    <a href="/catalog/checkout" class="btn btn-lg btn-primary">Confirm my address</a>
  </div>
</div> -->
</%block>
