<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">My Cart</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item active">My Cart</a></li>
  </ol>
</%block>

<%block name="content">
%if user.is_authenticated():
  %if len(myCart) > 0:
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Extended Amount</th>
      <th></th>
    </tr>
    %for item in myCart:
    <tr>
      <td><a href="/catalog/product/${ item.product.id }"><img src="${ STATIC_URL }homepage/media/Images/${ item.product.name }.svg" style="width: 50px;" /></a>
      <td><a href="/catalog/product/${ item.product.id }">${ item.product.name }</a></td>
      <td>${ item.product.price }</td>
      <td>${ item.quantity }</td>
      <td>${ item.product.price * item.quantity }</td>
      <td><a href="/account/shoppingCart.removeProduct/${ item.product.id }" class="btn btn-sm btn-danger" id="remove_item_${ item.product.id }">Remove Item</a></td>
    %endfor
  </table>
    </br>
    <div style="text-align: center;">
      <h3>Subtotal: $${ subtotal }</h3>
      <h3>Tax: $${ tax }</h3>
      <h3>Shipping: $${ shipping }.00</h3>
      <hr>
      <h3>Total: $${ total }</h3>
    </div>
    <a class="btn btn-lg btn-danger" href="/account/shoppingCart.clearCart" style="margin-left: 35%;">Clear Cart</a>
    <a class="btn btn-lg btn-primary" href="/account/shipping" style="margin-left: 2;">Checkout</a>
  %else:
  <div style="text-align: center;">
    <h2>Nothing here!</h2>
    <p>Try <a href="/catalog/">shopping around</a> a little!</p>
  </div>
  %endif
  %else:
  <h2 style="text-align: center;">Not seeing anything? Try <a href="/account/userLogin">logging in</a></h2>
%endif
</%block>
