<%inherit file="app_base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/account/userLogin">Login</a></li>
    <li class="breadcrumb-item active">Sign Up</a></li>
  </ol>
</%block>

<%block name="content">
    <h1>Sign Up</h1>
    ${ form }

</%block>
