<%inherit file="/homepage/templates/base_ajax.htm" />
<%block name="content">
  <form id="form_container" action="/account/userLogin.modal/" method="post">
    ${ csrf_input }
    ${form.as_p()}
    <div style="text-align: right;">
      <button type="submit" class="btn btn-lg btn-primary">Login</button>
      <a class="btn btn-lg btn-info" href="/account/signUp">Register</a>
    </div>
  </form>
</%block>
