<%inherit file="app_base.htm" />
<link rel="stylesheet" href="${STATIC_URL}account/styles/users.css" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Users</li>
  </ol>
</%block>

<%block name="content">
    <h2 style="text-align: center;">Manage Users</h2>

    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>
        <th>Birthdate</th>
        <th><a href='/account/create' class='btn btn-primary'>Create User</a></th>
      </tr>
      % for p in accounts:
      <tr>
        <td>${ p.username }</td>
        <td>${ p.first_name }</td>
        <td>${ p.last_name }</td>
        <td>${ p.email }</td>
        <td>${ p.city }</td>
        <td>${ p.state }</td>
        <td>${ p.birthdate }</td>
        <td>
          <a href="/account/user/${p.id}">Edit</a>
          |
          <a class="change-password" href="/account/changePassword/${p.username}">Change Password</a>
          |
          <a href="/account/user.delete/${p.id}" class="delete-user">Delete</a>
      </tr>
      % endfor
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user?
          </div>
          <div class="modal-footer">
            <a id="delete-button" class="btn btn-danger">Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
</%block>
