<%inherit file="app_base.htm" />

<%block name="header">Login</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Login</a></li>
  </ol>
</%block>

<%block name="content">
  <form action="" method="post">
    ${ csrf_input }
    ${form.as_p()}
    <div style="text-align: right;">
      <button type="submit" class="btn btn-lg btn-primary">Login</button>
      <a class="btn btn-lg btn-info" href="/account/signUp">Register</a>
    </div>
    %if invalid:
    <p>Something is wrong.</p>
    %endif
  </form>
</%block>
