<%inherit file="app_base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/account/users">Users</a></li>
    <li class="breadcrumb-item active">Edit User</li>
  </ol>
</%block>

<%block name="content">
    <h1>${ account.username }</h1>
    <a id="delete-user" href="../user.delete/${ account.id }" class="btn btn-danger">Delete User</a>
    <a id="change-password" href="../changePassword/${ account.username }" class="btn btn-primary">Change Password</a>
    <a href="../users/" class="btn btn-warning">Cancel</a>
    ${ form }

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user?
          </div>
          <div class="modal-footer">
            <a id="delete-button" class="btn btn-danger">Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
</%block>
