footer {
  position: absolute;
  top: 720px;
  width: 100%;
}

label {
  font-size: 16px;
}

.help-block {
  font-size: 14px;
}

#confirm_address {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.btn-secondary {
  background-color: #df691a;
  color: white;
}

.btn-primary {
  display: none;
}
