.cartItem {
  display: inline-block;
  border: solid white 4px;
  text-align: center;
  height: auto;
  margin: 5px;
  width: 300px;
}

table {
  width: 100%;
  font-size: 20px;
}

td:not(:last-child) {
  text-align: left;
  text-align: center;
  padding: 8px;
}

th {
    text-align: left;
    text-align: center;
    padding: 8px;
}

tr a {
  text-decoration: none !important;
}

.cartItemImage {
  padding: 10px;
  height: 200px;
}

footer {
  position: relative;
  bottom: 0;
}

h2 {
  color: #df691a;
}

.change-quantity {
  background-color: #5bc0de;
  margin-right: 2px;
}

.btn {
  margin-bottom: 10px;
}
