body {
  overflow: visible;
}

 .body_above {
   visibility: hidden;
   height: 0;
   width: 0;
   padding: 0;
   margin: 0;
 }

 header {
  height: 0;
 }

.body_middle {
  padding: 0;
}

.body_right {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

.body_left {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

#my-nav {
  margin-bottom: 0px;
  visibility: hidden;
}

#maintenance {
  visibility: hidden;
}

.alert_message {
  visibility: hidden;
}

h1 {
  color: #5bc0de;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
}

p {
  color: #df691a;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

#myCarousel {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  opacity: .2;
  -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
       -ms-filter: grayscale(100%);
           filter: grayscale(100%);
}

img {
  border-radius: 6px;
}

#return {
  position: fixed;
  top: 0;
  left: 0;
}

#about {
  position: absolute;
  top: 20vh;
}

ul {
  columns: 2;
  list-style-position: inside;
}

li {
  font-size: 25px;
}
