footer {
  background-color: red;
  position: absolute;
  bottom: 0;
}

.body_right {
  background-color: blue;
  background-image: url();
}

.body_above {
  background-color: green;
}

.body_left {
  background-color: yellow;
  background-image: url();
}

.body_middle {
  background-color: purple;
}
