.product {
  width: 200px;
  display: inline-block;
  padding: 15px;
  border-color: white;
  border-style: solid;
  border-width: thick;
  margin: 10px;
}

#products {
  margin: auto;
  text-align: center;
}

h1 {
  color: #5bc0de;
  font-size: 40px;
}

#categories {
  position: absolute;
  left: -40px;
  font-size: 25px;
}

#categories > ul > li {
  margin-left: 90px;
  font-size: 30px;
}

footer {
  top: 10px;
}

.body_left {
  background: none;
  opacity: 1;
  filter: none;
}
