 footer {
   position: absolute;
   bottom: 0;
 }

 .errorlist > li {
   background-color: red;
 }

 h1 {
   color: #5bc0de;
   font-size: 40px;
 }

 h2 {
   color: #5bc0de;
 }

h3 {
  font-size: 35px;
  display: inline-block;
  color: #df691a;
}

p {
  font-size: 20px;
  display: inline-block;
}

input {
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: -10px;
  width: 65%;
}

.body_right {
  width: 250px;
  float: right;
}

/*select {
  width: 54px;
  height: 38px;
  color: black;
  font-size: 20px;
}

option {
  color: black;
}*/
