.product {
  width: 35%;
  display: inline-block;
  position: absolute;
  padding: 15px;
}

h2 {
  color: #df691a;
  font-size: 40px;
}

h3 {
  color: #5bc0de;
  font-size: 30px;
}

.info {
  display: inline-block;
  padding-left: 25px;
  position: absolute;
  left: 35%;
  letter-spacing: 1px;
  width: 45%;
}

.aroundProduct {
  width: 92%;
  height: 350px;
  border-color: white;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

#products {
  margin: auto;
  text-align: left;
}

h1 {
  color: #5bc0de;
  font-size: 40px;
}

#categories {
  position: absolute;
  left: -40px;
  font-size: 25px;
}

#categories > ul > li {
  margin-left: 90px;
  font-size: 30px;
}

footer {
  top: 10px;
}

.body_left {
  background: none;
  opacity: 1;
  filter: none;
}
