div {
  border-radius: 6px;
}

body {
  font-family: 'Josefin Slab', cursive;
}

table {
  z-index: 9999999;
}

.form-control {
  border-radius: 6px;
  position: relative;
}

#my-nav {
  height: 67px;
  vertical-align: middle;
  background-color: #df691a;
  border-radius: 6px;
}

#F {
  padding: 0;
  display: inline;
  margin: 0;
}

#my-nav li a {
 line-height: 48px;
 font-size:30px;
}

#my-nav img {
 line-height: 40px;
}

.alert_message {
  position: absolute;
  right: 50px;
  bottom: 27px;
  z-index: 100000;
  border-radius: 6px;
  font-size: 20px;
}

body {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#content {
  position: relative;
}

.body_above {
  position: absolute;
  top: 90px;
  height: 50px;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.body_left {
   position: absolute;
   width: 250px;
   top: 115px;
   left: 0;
   height: 82%;
   padding: 10px;
   background-size: auto;
}

.breadcrumb {
  margin: auto;
  display: block;
  width: 60%;
  padding-top: 5px;
  vertical-align: middle;
}

.body_right {
   position: absolute;
   width: 250px;
   top: 115px;
   right: 0;
   height: 82%;
   background: none;
   padding-top: 50px;
   padding-left: 0;
   width: 300px;
   opacity: 1.0;
}

.body_middle {
   position: relative;
   left: 250px;
   top: 25px;
   width: calc(100vw - 520px);
   padding: 15px;
}

li {
  z-index: 999;
}

h1 {
  font-weight: bolder;
  text-align: center;
}

.footer {
   position: absolute;
   bottom: 0px;
   text-align: center;
   width: 100%;
   color: white;
}

@media (max-width: 800px) {
  .body_right, .body_left {
    position: relative;
  }
}
