<%inherit file="/homepage/templates/app_base.htm" />
<link rel="stylesheet" href="${STATIC_URL}manager/styles/index.css" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Instruments</a></li>
  </ol>
</%block>

<%block name="content">
    <h2 style="text-align: center;">Manage Products</h2>

    <table class="table table-striped">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Price</th>
        <th>Serial Number</th>
        <th><a href="/manager/create" class="btn btn-primary" id="create_product">Create Product</a></th>
      </tr>
      %for p in products:
        <tr>
          <td>${ p.name }</td>
          <td>
            %if hasattr(p, 'quantity'):
              <button data-pid="${ p.id }" class="update_button btn btn-info pull-right btn-sm">Update</button>
              <span class="quantity-container">
                Click update ->
              </span>
            %else:
              -
            %endif
          </td>
          <td>${ p.category.name }</td>
          <td>$${ p.price }</td>
          <td>
            %if hasattr(p, 'serial_number'):
              ${ p.serial_number }
            %else:
             -
            %endif
          </td>
          <td>
            <a href="/manager/product/${ p.id }">Edit</a>
            |
            <a href="/manager/product.delete/${ p.id }" class="delete-product">Delete</a>
        </tr>
      %endfor
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the product?
          </div>
          <div class="modal-footer">
            <a id="delete-button" class="btn btn-danger">Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
</%block>
