<%inherit file="base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/manager/">Instruments</a></li>
    <li class="breadcrumb-item active">Edit Instrument</li>
  </ol>
</%block>

<%block name="content">
    <h1>${ product.name }</h1>
    ${ form }

</%block>
