<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">Checkout</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item"><a href="/account/shoppingCart/">My Cart</a></li>
    <li class="breadcrumb-item"><a href="/account/shipping/">My Shipping Information</a></li>
    <li class="breadcrumb-item active">Checkout</a></li>
  </ol>
</%block>

<%block name="content">
<script src="https://checkout.stripe.com/checkout.js"></script>
  <form action="" method="post">
    ${ csrf_input }
    <div id="payment_form">
      ${form.as_p()}
    </div>
    %if invalid:
    <p>Something is wrong.</p>
    %endif
    %if subtotal != 0:
      <h3>Subtotal: $${ subtotal }</h3>
      <h3>Tax: $${ tax }</h3>
      <h3>Shipping: $${ shipping }.00</h3>
      <hr>
      <h3 id="total">Total: $${ total }</h3>
      <button class="btn btn-danger" id="customButton">Pay Now</button>
    %else:
      <h3>You're not supposed to be here! Try <a href="/catalog/index">shopping around.</a></h3>
    %endif
  </form>
</%block>
