<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">Receipt</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item active">Receipt</a></li>
  </ol>
</%block>

<%block name="content">
<div id="receipt">
  <h3 style="text-align: center;">Sorry, that receipt ID is nonexistent. Try <a href="/catalog/index">shopping around!</a></h3>
</div>
</%block>
