<%inherit file="base.htm" />

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item active">Edit Instrument</li>
  </ol>
</%block>

<%block name="content">
    <h1><i>${ product.brand }</i> ${ product.name }</h1>
    <div class="col-md-5">
      <img id="productpic" data-pid=${ product.id } alt="product - ${ product.name }" src="${ STATIC_URL }homepage/media/Images/${ product.name }.svg" />
    </div>
    <div class="col-md-7">
      <h3>Price:</h3> <p>${ product.price }</p><br>
      <h3>Description:</h3> <p>${ product.description }</p><br>
      %if hasattr(product, 'quantity'):
        <!-- <h3>Quantity:</h3>  <select class="1-100 btn-primary"></select><br><br> -->
        <!-- <form><h3>Quantity:&nbsp;	</h3><input type="number" value=1 class="" name="quantity" min="1" max="${ product.quantity }"></form><br> -->
      %endif
      <!-- <a href="#" id="addToCart" class="btn btn-primary">Add to Cart</a>
      <a href="#" class="btn btn-info">Buy Now</a> -->
      <div id="purchase_container" class="text-center">
        ${ form }
      </div>
    </div>
</%block>

<%block name="body_right">
%if user.is_authenticated():
<h2>Recently viewed.</h2>
<ul class="nav">
%for p in realHistory:
  <li><a style="color: #df691a; font-size: 30px;" href="${ p.id }">${ p.name }<img style="width: 60px; padding-left: 10px" src="${ STATIC_URL }homepage/media/Images/${ p.name }.svg" /></a></li>
%endfor
</ul>
%endif
</%block>
