<%inherit file="/homepage/templates/base_ajax.htm" />
<%block name="content">
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/${ product.name }.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/banjo.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/clarinet.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/cymbal.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/mic.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/drum-1.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/headphones.svg" />
<img class="modalpic" src="${ STATIC_URL }homepage/media/Images/harp.svg" />
<div style="text-align:center; padding-top:10px;">
  <button id="previous_pic_button" class="btn btn-default btn-lg">Previous</button>
  <button id="next_pic_button" class="btn btn-default btn-lg">Next</button>
</div>
</%block>
