<%inherit file="/homepage/templates/app_base.htm" />

<%block name="header">Receipt</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item"><a href="/catalog/">Catalog</a></li>
    <li class="breadcrumb-item active">Receipt</a></li>
  </ol>
</%block>

<%block name="content">
<div id="receipt">
  <p>Thank you for your order of:</p>
    %for item in cart:
      <li>${ item.product.name } </li>
    %endfor
    <p >Your total is $${ total }.</p>
    <p>A confirmation e-mail has been sent to ${ request.user.email }.</p>
</div>
</%block>
