<%inherit file="base.htm" />

<%block name="header">
<span style="padding-left: 300px;padding-right: 50px;">Our Catalog.</span>
<input placeholder="Search products here" style="width: 250px; text-align: center;display:inline-block;" id="search" class="form-control">
</input>
</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Catalog</li>
  </ol>
</%block>

<%block name="body_left">
<div id="categories">
  <ul class="nav">
    <h1>Categories.</h1>
    <li><a href="../catalog">All Items</a></li>
    <li><a href="../catalog?category=3">Brass</a></li>
    <li><a href="../catalog?category=2">Children's</a></li>
    <li><a href="../catalog?category=7">Keyboard</a></li>
    <li><a href="../catalog?category=5">Miscellaneous</a></li>
    <li><a href="../catalog?category=8">Percussion</a></li>
    <li><a href="../catalog?category=1">Sheet Music</a></li>
    <li><a href="../catalog?category=4">String</a></li>
    <li><a href="../catalog?category=6">Woodwind</a></li>
  </ul>
</div>
</%block>

<%block name="content">
<div id="products">
  %for p in products:
  <div class="aroundProduct">
    <span class="product" id="product${ p.id }">
      <a href="../catalog/product/${ p.id }"><img alt="product - ${ p.name }" src="${ STATIC_URL }homepage/media/Images/${ p.name }.svg" /></a>
    </span>
    <span class="info">
      <h2>${ p.name }</h2>
      <h3>Description:</h3><p>${ p.description }</p>
      <h3>Price:</h3><p>${ p.price }</p>
    </span>
  </div>
  %endfor
</div>
</%block>

<%block name="body_right">
<h1>Recently viewed.</h1>
<ul class="nav">
%for p in last_five:
  <li><a style="color: #df691a; font-size: 30px;" href="../catalog/product/${ p }">${ lastFiveProducts.get(id=p).name }</a></li>
%endfor
</ul>
</%block>
