<%inherit file="app_base.htm" />

<%block name="header">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
  <li data-target="#myCarousel" data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="${ STATIC_URL }homepage/media/Images/carousel-violin.jpg" alt="Piano">
  </div>

  <div class="item">
    <img src="${ STATIC_URL }homepage/media/Images/carousel-piano.jpg" alt="Violin">
  </div>

  <div class="item">
    <img src="${ STATIC_URL }homepage/media/Images/carousel-saxophone.jpg" alt="Saxophone">
  </div>

  <div class="item">
    <img src="${ STATIC_URL }homepage/media/Images/carousel-drums.jpg" alt="Drums">
  </div>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</%block>
<%block name="content">
  <div id="about">
    <h1>About Us.</h1></br></br>
    <p>We like high-quality instruments. It's as simple as that.</p>
    <p style="font-size: 25px;">Accessibility: FOMO has strived to make this site as
      accessible as possible to everyone. Improvements include:</p>
      <ul style="color: #df691a;">
        <li>Alternative image texts</li>
        <li>Large font sizes</li>
      </ul>

  </div>
  <div id="return">
    <a href="/index/"><i>&lsaquo; Return to home page</i></a>
  </div>
</%block>
