<%inherit file="/homepage/templates/base.htm" />

<%block name="header_items">
  %if manager:
    <ul class="nav navbar-nav">
      <li class="${ 'active' if request.dmp_router_page == 'index' else '' }"><a href="/">Home</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'about' else '' }"><a href="/about/">About</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'contact' else '' }"><a href="/contact/">Contact</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'terms' else '' }"><a href="/terms/">Terms</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'faq' else '' }"><a href="/faq/">FAQ</a></li>
      <li class="${ 'active' if request.dmp_router_app == 'manager' else '' }"><a href="/manager/">Instrument Manager</a></li>
      <li class="${ 'active' if request.dmp_router_app == 'account' else '' }"><a href="/account/create">Create Account</a></li>
    </ul>
  %endif
  <ul class="nav navbar-nav">
    <li class="${ 'active' if request.dmp_router_page == 'index' else '' }"><a href="/">Home</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'about' else '' }"><a href="/about/">About</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'contact' else '' }"><a href="/contact/">Contact</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'terms' else '' }"><a href="/terms/">Terms</a></li>
    <li class="${ 'active' if request.dmp_router_page == 'faq' else '' }"><a href="/faq/">FAQ</a></li>
    <li class="${ 'active' if request.dmp_router_app == 'catalog' else '' }"><a href="/catalog/">Catalog</a></li>
  </ul>
</%block>
