## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>


<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <link rel="icon" alt="icon" href="${STATIC_URL}homepage/media/Images/music_note.png" />
        <title>
          <%block name="title">Homepage - FOMO</%block>
        </title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="${ STATIC_URL }account/scripts/jquery.datetimepicker.full.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>

        <link rel="stylesheet" href="${STATIC_URL}account/media/jquery.datetimepicker.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab" />
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/bootstrap/css/bootstrap.css" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> -->
        %if request.dmp_router_page == 'sections':
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/sections.css" />
        %endif
        %if request.dmp_router_page == 'about':
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/about.css" />
        %endif
        %if request.dmp_router_page == 'terms':
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/terms.css" />
        %endif
        %if request.dmp_router_page == 'contact':
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/contact.css" />
        %endif
        %if request.dmp_router_page == 'faq':
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/faq.css" />
        %endif
        ## render the css with the same name as this page
        ${ get_template_css(self, request, context) }

    </head>

    <div id="maintenance" style="text-align: center; color: white;">
      <%block name="maintenance_message">This site will be down for scheduled maintenance on Saturday, February 11 from 12:00AM - 3:00AM ET.</%block>
    </div>

    <header>
      <nav id="my-nav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" style="padding-top: 0px; padding-left:10px; padding-right:0px;" href="/homepage/"><img src="${STATIC_URL}homepage/media/Images/music note icon.png" alt="music note" style="height: 67px" /></a>
            </div>
          <%block name="header_items">
          </%block>
          <ul class="nav navbar-nav navbar-right">
          %if user.is_authenticated:
            <li class="dropdown">
              <a class="dropdown-toggle" style="margin-right:15px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Hello, ${user.username}<span class="caret"></span></a>
              <ul class="dropdown-menu" style = "margin-right: 15px;">
                <li><a href="/account/userLogout">Logout</a></li>
                <li><a href="/account/users/">User Manager</a></li>
                <li><a href="/manager/">Instrument Manager</a></li>
                <li><a href="/account/manage/${user.username}">My Account</a></li>
                <li><a href="/account/changePassword/${user.username}">Change Password</a></li>
              </ul>
            </li>
            %if user.is_authenticated:
            <li><a style="padding-top:10px; height: 67px;" class="navbar-brand" href="/account/shoppingCart"><img src="${STATIC_URL}homepage/media/Images/cart.png" alt="cart" style="padding-right: 10px; height: 47px" /><div id="cart-count" class="label label-danger" style="color: black; background-color: #5bc0de; height: 18px; padding: 3px; width: 18px; font-size: 14px; position:absolute; top:4px; left:50px;">${ request.user.get_cart_count() }</div></a>
            %endif
          %else:
            <li>
              <a href="/account/userLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
          %endif
          </ul>
        </div>
      </nav>

      %if user.is_authenticated and request.dmp_router_app == 'homepage':
      <div class="alert_message alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: white;">&times;</a>
          <strong>You logged on successfully!&nbsp&nbsp</strong>
      </div>
      %elif request.dmp_router_page == 'sections':
      <div class="alert_message alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: white;">&times;</a>
          <strong>You logged on successfully!&nbsp&nbsp</strong>
      </div>
      %endif

    </header>
    <body>
      <div class="body_above">
        <div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>
        OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>
        OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>
        OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>
        OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>OMO<div id="F" style="color: #df691a">F</div>

        <%block name="body_above">

        <nav class="breadcrumb">
          <span class="breadcrumb-item active">Homepage</span>
        </nav>

        </%block>
      </div>

      <div class="body_left" alt="violin">
        <%block name="body_left"></%block>
      </div>

      <div class="body_middle">
        <header>
          <h1 style="color: #5bc0de"><%block name="header"></%block></h1>
        </header>

        <div id="content">
          <%block name="content">

          </%block>
        </div>
        <!-- <%block name="footer">
          <footer style="padding-top: 15px;">
            <div class="footer">
              <%! from datetime import datetime %>
              <% now = datetime.now() %>
              <% year = now.year %>
              -- &copy ${year} Copyright -- Family Oriented Music Organization -- All rights reserved --
            </div>
          </footer>
        </%block> -->
      </div>

      <div class="body_right" alt="guitar">
        <%block name="body_right">
        %if user.is_authenticated():
        <h1 style="color: #5bc0de;">Recently viewed.</h1>
        <ul class="nav">
        %for p in realHistory:
          <li><a style="color: #df691a; font-size: 30px;" href="/catalog/product/${ p.id }">${ p.name }<img style="width: 60px; padding-left: 10px" src="${ STATIC_URL }homepage/media/Images/${ p.name }.svg" /></a></li>
        %endfor
        </ul>
        %endif
        </%block>
      </div>



      ## render the JS with the same name as this page
      ${ get_template_js(self, request, context) }
    </body>

    <script type="text/javascript">
      $(document).ready(function(){
          $(".alert_message").hide().fadeIn(800).delay(3000).fadeOut(800);
      });
    </script>

</html>
