<%inherit file="app_base.htm" />

<%block name="header">
  Contact Us.
</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Contact</li>
  </ol>
</%block>

<%block name="content">
  <form action="" method="post">
    ${ csrf_input }
    ${form.as_p()}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</%block>
