<%inherit file="app_base.htm" />

<%block name="header">
  FAQ.
</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">FAQ</li>
  </ol>
</%block>

<%block name="content">
  <h1 id="question" style="color: #df691a">Is renting an instrument affordable?</h1>
  <p>Absolutely! With FOMO's new Play-to-Own pricing option, renting (and buying)
    an instrument has never been easier. For as little as $13 a month, you can
    take an instrument home and play to your heart's content! Duis vehicula massa
    interdum auctor viverra. Quisque euismod purus nunc, mattis pharetra lectus
    pellentesque in. Etiam ullamcorper, ligula at congue porttitor, nisi erat
    convallis neque, quis eleifend ipsum eros nec eros. Fusce tristique vitae
    ligula at ornare. Maecenas quis interdum orci. Nam.</p>
  <h1 id="question" style="color: #df691a">Can I learn to play an instrument?</h1>
  <p>Positively! Learning an instrument is as easy as 10 minutes a day. If you
    take 10 minutes every day to instrument practice, you can be a competent player
    in a year. If you have 40 years of life left, you could learn every instrument
    you ever heard of, and then some!
  <h1>
</%block>
