<%inherit file="app_base.htm" />

<%block name="header"><span style="font-size:220px;">FOMO.</span></%block>

<%block name="content">
  <div  style="text-align: center; padding-bottom: 100px; font-size: 20px;">No account? <a href="/account/signUp">Sign up</a>.</div>
</%block>
