<%inherit file="app_base.htm" />

<%block name="header">
  Bösendorfer Pianos!!
</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Landing Page</li>
  </ol>
</%block>

<%block name="content">
  <h3>
    FOMO is the best place to get that Bösendorfer piano you've always wanted. With excellent selection, superior quality,
    and unbeatable prices, we think you'll agree.
  </h3>
  <br>
  <img style="margin: auto; display: block;" src="${ STATIC_URL }homepage/media/Images/Bosendorfer.png" alt="Bosendorfer" />
  <h4>Buy Bösendorfer pianos <a href="/manager/">here</a>.</h4>
</%block>
