<%inherit file="app_base.htm" />

<%block name="header">
  Terms and Conditions.
</%block>

<%block name="body_above">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/homepage/">Homepage</a></li>
    <li class="breadcrumb-item active">Contact</li>
  </ol>
</%block>

<%block name="content">
  <ol>
    <li><strong>Introduction</strong></li>
  </ol>
  <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>
  <p>Minors or people below 18 years old are not allowed to use this Website.</p>
  <ol start="2">
    <li><strong>Intellectual Property Rights</strong></li>
  </ol>
  <p>Other than the content you own, under these Terms, Family Oriented Music Organization and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>
  <ol start="3">
    <li><strong>Restrictions</strong></li>
  </ol>
  <p>You are specifically restricted from all of the following</p>
  <ul>
    <li>publishing any Website material in any other media;</li>
    <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
</%block>
